body{
    font-family: Roboto, Helvetica, Arial;
}
#container {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
}


@media all and (max-width: 1200px) {
    #container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
        padding-top: 40px;
    }

}

p {
    margin-bottom: 3em;
}

.little-question {
    margin-bottom: 0.4em;
    font-weight: bold;
}

#welcome-message {
    padding: 20px;
    /*background-color: #eae7ff;*/
    margin-bottom: 20px;
    text-align: center;
    font-size: 32px;

}

#first-part-of-the-story {
    padding: 20px;
    /*background-color: aliceblue;*/
    font-size: 20px;
    text-align: center;

}

#happy-picture {
    padding: 20px;
    width: 100%;
    text-align: center;
}


/* torreon */

.dears {
    padding: 10px;
    /*background-color: #eae7ff;*/
    margin-top: 30px;
    text-align: center;
    font-size: 32px;
    color: #009b00;

}

.dearsmessage {
    padding: 20px;
    /*background-color: aliceblue;*/
    font-size: 20px;
    text-align: center;
    /*color: #008800;*/

}