body{
    font-family: sans-serif;
}
#container {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
}


@media all and (max-width: 1400px) {
    #container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
    }

}

#welcome-message {
    padding: 20px;
    background-color: aliceblue;
    margin-bottom: 20px;
    text-align: center;
    font-size: 64px;

}

#first-part-of-the-story {
    padding: 20px;
    background-color: aliceblue;
    font-size: 20px;
    text-align: center;

}

#happy-picture {
    padding: 20px;
    width: 100%;
    text-align: center;
}
